In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"x:\georisk\HaRIA_B_Wind\projects\acs\2. DATA\1. Work Unit Assessment\NWRA\impact\post processing\final\Aus_AAL_rank_by_SA1_Table.csv")

In [17]:
df['Decile'] = pd.cut(df['AAL'], bins=df['AAL'].quantile(np.arange(0, 11)/10), right=True, labels=list(np.arange(1, 11)))

In [24]:
df.to_csv(r"x:\georisk\HaRIA_B_Wind\projects\acs\2. DATA\1. Work Unit Assessment\NWRA\impact\post processing\final\Aus_AAL_rank_by_SA1_Table.csv", index=False)

In [6]:
df.groupby('STATE')['AAL'].aggregate(['min', 'mean', 'median', 'max'])

            min      mean    median       max
STATE
ACT    0.000191  0.003160  0.002829  0.008155
NSW    0.000048  0.003115  0.002867  0.033783
NT     0.000114  0.001833  0.001298  0.007405
QLD    0.000000  0.002581  0.002050  0.016796
SA     0.000068  0.002306  0.001585  0.027956
TAS    0.000357  0.003140  0.002980  0.016026
VIC    0.000168  0.001934  0.001610  0.019319
WA     0.000082  0.002316  0.001610  0.015940