In [1]:
import os
import pandas as pd
import numpy as np
basedir = r"x:\georisk\HaRIA_B_Wind\projects\acs\2. DATA\1. Work Unit Assessment\NWRA\impact\post processing\method5"

In [2]:
df = pd.read_csv(os.path.join(basedir, "Aus_AAL_rank_by_SA1.csv"))

In [3]:
df['Decile'] = pd.cut(df['AAL'], bins=df['AAL'].quantile(np.arange(0, 11)/10), right=True, labels=list(np.arange(1, 11)))

In [25]:
df

,Unnamed: 0,SA1_CODE,AAL,SA2_CODE,SA2_NAME,LGA_CODE,LGA_NAME,STATE,rank,Decile
0,4074,10704114717,0.033783,107041147,Helensburgh,18450,Wollongong,NSW,1.0,10
1,15010,12401145211,0.029398,124011452,Katoomba - Leura,10900,Blue Mountains,NSW,2.0,10
2,2039,40303106513,0.027956,403031065,Belair,44340,Mitcham,SA,3.0,10
3,663,10201102816,0.026981,102011028,Avoca Beach - Copacabana,11650,Central Coast (NSW),NSW,4.0,10
4,15027,12401145229,0.026887,124011452,Katoomba - Leura,10900,Blue Mountains,NSW,5.0,10
...,...,...,...,...,...,...,...,...,...,...
58932,9151,31501140201,0.000000,315011402,Torres Strait Islands,36960,Torres Strait Island,QLD,58934.0,NaN
58933,9154,31501140206,0.000000,315011402,Torres Strait Islands,36960,Torres Strait Island,QLD,58934.0,NaN
58934,9155,31501140207,0.000000,315011402,Torres Strait Islands,36960,Torres Strait Island,QLD,58934.0,NaN
58935,9157,31501140209,0.000000,315011402,Torres Strait Islands,36960,Torres Strait Island,QLD,58934.0,NaN
58936,9158,31501140210,0.000000,315011402,Torres Strait Islands,36960,Torres Strait Island,QLD,58934.0,NaN

In [4]:
statedfs = []
states = ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA']
for state in states:
    sdf = pd.read_csv(os.path.join(basedir, state, f"{state}_SA1_building_counts.csv"))
    statedfs.append(sdf)

statedf = pd.concat(statedfs, ignore_index=True)
statedf.set_index("SA1_CODE", inplace=True)
statedf.drop("Unnamed: 0", axis=1, inplace=True)

In [5]:
df = df.merge(statedf['total buildings'], how='inner', left_on="SA1_CODE", right_on=statedf.index)
df.rename({"Unnamed: 0":"OID"}, inplace=True)

In [6]:
df.to_csv(os.path.join(basedir, "Aus_AAL_rank_by_SA1_Table.csv"), index=False)

In [7]:
df.groupby('STATE')['AAL'].aggregate(['min', 'mean', 'median', 'max'])

            min      mean    median       max
STATE
ACT    0.000191  0.003160  0.002829  0.008155
NSW    0.000048  0.003115  0.002867  0.033783
NT     0.000114  0.001833  0.001298  0.007405
QLD    0.000043  0.002582  0.002051  0.016796
SA     0.000068  0.002266  0.001582  0.018439
TAS    0.000357  0.003140  0.002980  0.016026
VIC    0.000168  0.001929  0.001613  0.014229
WA     0.000082  0.002316  0.001610  0.015940